body{
  background: #70e1f5;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ffd194, #70e1f5);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ffd194, #70e1f5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
a{
  text-decoration: none;
  color: green;
}

/*header{
  display: flex;
  min-height: 70px;
  background-color: orange;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin:0%;
}
*/
.logo{
  display: flex;
  align-items: center;
}

.logo img{
  height: 50px;
  margin-right: 10px;
}

nav a{
  font-weight: 600;
  padding-right: 10px;

}

nav a:hover{
  color: white;
}

@media (max-width:700){
  header{
    flex-direction: column;
  }
  nav{
    padding: 10px 0px;
  }
}
