<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>

    <!--Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  </head>

  <body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-warning bg-warning">
      <div class="container-fluid">
            <a class="navbar-brand" href="#">Mis Finanzas</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            <div class="collapse navbar-collapse" id="navbarText">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Inicio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Registrarse</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Ingresar</a>
                </li>
              </ul>
              <span class="navbar-text">
              Bienvenido a la nueva forma de ordenar tus Finanzas
              </span>
            </div>
        </div>
     </nav>
    </header>

        <div class="container">
          <div class="row">
             <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">

             </div>
          </div>
          <h1>¡Ten el control de tus gastos e ingresos hoy!</h1>
        </div>

    <!-- Librería jQuery requerida por los plugins de JavaScript -->
    <script src="http://code.jquery.com/jquery.js"></script>

    <!-- Todos los plugins JavaScript de Bootstrap (también puedes
         incluir archivos JavaScript individuales de los únicos
         plugins que utilices) -->
    <script src="js/bootstrap.min.js"></script>


  <% if usuario_signed_in? then %>
  <B>Bienvenido  <%= current_usuario&.email %></B><br/>
  <%= link_to "Salir", :destroy_usuario_session, method: :delete %>
<% else %>
  <%= link_to "Ingresar", :new_usuario_session %>
<% end %>
<%= yield %>

  </body>
</html>
